src/flows/Forgot_Username_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_URL</name>
        <label>Navigate to URL</label>
        <locationX>659</locationX>
        <locationY>207</locationY>
        <actionName>c:loadWebPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>CommunityURL</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CommunityURL</assignToReference>
            <name>url</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>toast</name>
        <label>toast</label>
        <locationX>499</locationX>
        <locationY>83</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Navigate_to_URL</targetReference>
        </connector>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>Pleasecheckyouremail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>SUCCESS</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pleasecheckyouremail</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <formulas>
        <name>USERNAME</name>
        <dataType>String</dataType>
        <expression>{!$User.Username}</expression>
    </formulas>
    <interviewLabel>Forgot Username Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Forgot Username Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Email_Platform_Event</name>
        <label>Create Email Platform Event</label>
        <locationX>397</locationX>
        <locationY>187</locationY>
        <connector>
            <targetReference>toast</targetReference>
        </connector>
        <inputAssignments>
            <field>EMAIL_ADDRESS__c</field>
            <value>
                <elementReference>userEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Email__e</object>
    </recordCreates>
    <screens>
        <name>Forgot_User_Name</name>
        <label>Forgot User Name</label>
        <locationX>297</locationX>
        <locationY>121</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Email_Platform_Event</targetReference>
        </connector>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>userEmail</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <helpText>&lt;p&gt;Enter the email address associated with your user account&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Forgot_User_Name</startElementReference>
    <status>Active</status>
    <variables>
        <name>CommunityURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>https://my-summer-17-developer-edition.gus.force.com/yeurdreamin/s/login/</stringValue>
        </value>
    </variables>
    <variables>
        <name>DOMAIN</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Domain</objectType>
    </variables>
    <variables>
        <description>The Email address of the User that they entered</description>
        <name>EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailPlatformEventRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Email__e</objectType>
    </variables>
    <variables>
        <name>Network</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Network</objectType>
    </variables>
    <variables>
        <description>The Network of the Community</description>
        <name>NetworkID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Pleasecheckyouremail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Please check your email</stringValue>
        </value>
    </variables>
    <variables>
        <description>The Network Member that needs their username reset</description>
        <name>thisNetworkMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>NetworkMember</objectType>
    </variables>
    <variables>
        <name>userEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
